:root {
  --primary-text-color: #555555;
  --title-text-color: #303030;
  --accent-color-orange: #ff6c00;
  --accent-color-white: #ffffff;
  --accent-color-grey: #9da4bd;
  --backgroud-color: #ffffff;
  --span-light: rgba(157, 164, 189, 0.6);
}

/*! Глобальні стилі */

body {
  font-family: "Open Sans", sans-serif;
  letter-spacing: 0.02em;
  color: var(--primary-text-color);
  background-color: var(--backgroud-color);
}

h1,
h2,
h3,
h4,
ul,
p {
  margin: 0;
  padding: 0;
}

img {
  display: block;
}
p {
  font-size: 18px;
  line-height: 1.6667;
}
button {
  cursor: pointer;
}
.container {
  width: 1200px;
  margin: 0 auto;
  padding-left: 15px;
  padding-right: 15px;
}

.section {
  padding-top: 120px;
  padding-bottom: 120px;
}

.list {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

/* header */
.header {
  padding-top: 32px;
  padding-bottom: 32px;
  background-color: rgb(73, 75, 70);
}
.container.header {
  display: flex;
  align-items: center;
}
.logo {
  margin-right: 130px;
}
.nav .list {
  display: flex;
}

.li-nav:not(:last-child) {
  margin-right: 30px;
}

.link {
  display: block;
  padding: 30px 0;
  font-weight: 600;
  font-size: 12px;
  line-height: 1.3333;
  letter-spacing: 0.1em;
  color: var(--accent-color-white);
  text-decoration: none;
}
.header-info {
  display: flex;
  margin-left: auto;
  align-items: center;
}
.link.tel {
  margin-right: 40px;
}
.link:hover,
.link:focus {
  color: var(--accent-color-orange);
}
.button-light {
  display: block;
  min-width: 160px;
  min-height: 40px;
  font-family: "Open Sans", sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 12px;
  line-height: 1.3333;
  letter-spacing: 0.09em;
  text-transform: uppercase;
  color: #ffffff;
  border: 1px solid #ff6c00;
  border-radius: 25px;
  padding: 12px 20px;
  background-color: transparent;
}

.button-light:hover,
.button-light:focus {
  color: var(--accent-color-white);
  background-color: #ff6c00;
}
.back {
}
.forward {
}

/* main */
/* hero */

.section.hero {
  padding: 0;
  background-color: var(--backgroud-color);
}
.container.hero {
  display: flex;
}
.box-social {
  outline: 2px solid red;
  display: flex;
  align-items: flex-end;
  /* width: 100px; */
}
.list.social {
  display: flex;
  align-items: flex-end;
  /* height: 100px; */
  outline: 2px solid red;
  align-items: center;
  transform: rotate(-90deg);
  background-color: var(--backgroud-color);
}
.social:not(:last-child) {
  margin-right: 40px;
}
.hero-wrap {
  background-image: url(../images/hero.jpg);
  padding: 272px 40px 40px 100px;
  flex-grow: 1;
  background-repeat: no-repeat;
}
.link-social {
  font-weight: 600;
  font-size: 11px;
  line-height: 1.36;
  color: var(--title-text-color);
  text-decoration: none;
}
.link-social:hover,
.link-social:focus {
  color: var(--accent-color-orange);
}

.span-light {
  display: block;
  font-weight: 600;
  font-size: 11px;
  line-height: 1.36;
  text-transform: uppercase;
  color: var(--span-light);
  margin-bottom: 20px;
}

h1.title-light {
  font-family: "Raleway", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 72px;
  line-height: 1.18;
  letter-spacing: 0.05em;
  color: var(--accent-color-white);
}
.text-light {
  font-size: 18px;
  line-height: 1.67;
  color: var(--accent-color-grey);
}
.text-light.hero {
  max-width: 357px;
  font-size: 18px;
  line-height: 1.67;
  margin-bottom: 144px;
}
.back-forward {
  display: flex;
  justify-content: flex-end;
  gap: 24px;
}
.back,
.forward {
  display: block;
  font-family: inherit;
  font-style: normal;
  font-weight: 600;
  font-size: 11px;
  line-height: 1.36;
  letter-spacing: 0.1em;
  border: none;
  background-color: transparent;
  color: rgba(157, 164, 189, 0.6);
}
.back:hover,
.back-focus,
.forward:hover,
.forward:focus {
  color: var(--accent-color-white);
}
/*  best barbershop*/
.best-section {
  background-color: var(--backgroud-color);
}
.container.best {
  display: flex;
}
.list.best {
  display: flex;
}
.li-best:not(:last-child) {
  margin-right: 30px;
}
.best-box {
  margin-left: 30px;
}

.span-dark {
  display: block;
  font-weight: 600;
  font-size: 11px;
  line-height: 1.36;
  text-transform: uppercase;
  color: var(--title-text-color);
  margin-bottom: 20px;
}

.title-dark {
  font-weight: 700;
  font-size: 42px;
  line-height: 1.1667;
  letter-spacing: 0.05em;
  color: var(--title-text-color);
  margin-bottom: 20px;
}
.text-reason-first {
  font-weight: 400;
  font-size: 18px;
  line-height: 1.67;
  letter-spacing: 0.02em;
  color: var(--primary-text-color);
  margin-bottom: 20px;
}
.text-reason {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.86;
  letter-spacing: 0.02em;
  color: var(--primary-text-color);
  margin-bottom: 42px;
}

.button-dark {
  display: block;
  min-width: 160px;
  min-height: 40px;
  font-family: "Open Sans", sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 12px;
  line-height: 1.3333;
  letter-spacing: 0.09em;
  text-transform: uppercase;
  color: var(--title-text-color);
  border: 1px solid #ff6c00;
  border-radius: 25px;
  padding: 12px 20px;
  background-color: transparent;
}
.button-dark:hover,
.button-dark:focus {
  background-color: var(--accent-color-orange);
  color: var(--accent-color-white);
}

/* prices */
.prices {
  max-width: 1600px;
  margin: 0 auto;
  background-image: url(../images/prices.jpg);
  background-repeat: no-repeat;
  background-size: 1600px 692px;
}
.title-light {
  font-weight: 700;
    font-size: 42px;
    line-height: 1.17;
    letter-spacing: 0.05em;
    color: var(--accent-color-white);
    margin-bottom: 44px;
}
.prices-wrap {
  display: flex;
  justify-content: space-between;
  margin-bottom: 44px;
}
.prices-list.first {
background: linear-gradient(180deg, #171A24 0%, rgba(23, 26, 36, 0.2) 100%);
}
.prices-list.second {
background: linear-gradient(180deg, #090B13 0%, rgba(9, 11, 19, 0.2) 100%);
}
.prices-list { padding: 30px 20px;
  width: calc((100% - 30px) / 2);
}

.prices-item {
display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
}
.prices-item:last-child {
  margin-bottom: 0;
}
.prices-item-text { font-size: 18px;
    line-height: 1.67;
    letter-spacing: 0.02em;
    color: var(--accent-color-grey);
}
.prices-btn {
  margin: 0 auto;
}
/* reason */
.reason{

}
.reason-container {
  display: flex;
  padding-left: 100px;
  padding-right: 70px;
}
.reason-list {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
  margin-right: 130px;
}
.reason-list-item {
  text-align: center;
  width: 170px;
    height: 133px;
    padding: 20px 24px;
  background-color:#F7F7F7;
}

.numbers {
  font-weight: 700;
    font-size: 42px;
    line-height: calc(57 / 42);
    text-align: center;
    letter-spacing: 0.05em;
    color: var(--title-text-color);
}

.sup {
  font-weight: 600;
    font-size: 16px;
    line-height: calc(22 / 16);
    text-align: center;
    color: #ff6c00;
}

.numbers-text {
  font-weight: 600;
    font-size: 11px;
    line-height: 1.36;
    text-align: center;
    color: var(--title-text-color);
}
.text-reason-first {
  margin-bottom: 20px;
}
.text-reason {

  font-size: 18px;
    line-height: 1.67;
    color: var(--primary-text-color);
    margin-bottom: 42px;
}

/* our barbers */
.barbers {
  background-color: #F7F7F7;
}
.barber-title-main {
  margin-bottom: 44px;
}
.barber-list {
  display: flex;
  gap: 30px;
}
.barber-info {
  text-align: center;
}
.barber-title {
  font-weight: 400;
    font-size: 18px;
    line-height: 1.4;
    letter-spacing: 0.02em;
    color: var(--title-text-color);
    margin-top: 30px;
    margin-bottom: 8px;
}
.barber-type { font-size: 14px;
  line-height: 1.36;
  color: var(--accent-color-orange);
}
/* beards */
.beards {
}
.span-dark.beard {
  margin-bottom: 44px;
}
.beards-list {
  display: flex;
  gap: 30px;
}
/* contact info */
.contact-info {max-width: 1600px;
  background-color: #191c26;
 background-image: url(../images/contacts.jpg);
  background-repeat: no-repeat;
  background-size: 785px 634px;
  background-position: right ;
  margin: 0 auto; 
}
.contact-container {
  display: flex;
  
}
.form {
width: 570px;
  margin-right: 30px;
}
.title-contact {
  margin-bottom: 40px;
}
.contacts {
 padding-left: 100px;

}
address{
  font-style: normal;
}
.link-address {
  display: block;
  font-weight: 700;
    font-size: 18px;
    line-height: 1.67;
    letter-spacing: 0.02em;
    color: var(--accent-color-grey);
    text-decoration: none;
    margin-bottom: 20px;
}
.link-address-tel {
  display: block;
  font-size: 18px;
    line-height: 1.67;
    color: var(--accent-color-grey);
    text-decoration: none;
    margin-bottom: 20px;
}
.link-address-mail {
  font-size: 18px;
    line-height: 1.67;
    color: var(--accent-color-grey);
}

.working-hours {
  font-weight: 600;
    font-size: 11px;
    line-height: 1.36;
    text-transform: uppercase;
    color: var(--accent-color-white);
}
.work-time {
  font-size: 18px;
    line-height: 1.67;
    color: var(--accent-color-grey);
}
/* footer */
.footer {
}
.footer-container {
  display: flex;
  align-items: center;
  text-align: center;
}
.footer-list {
  display: flex;
  gap: 40px;
}
.copyright { font-weight: 600;
  font-size: 11px;
  line-height: 1.36;
  color: var(--accent-color-grey);
  padding: 56px 0;
}
.footer-soc {
  margin-left: auto;
}
.link-social-footer {
  font-weight: 600;
    font-size: 11px;
    line-height: 1.36;
  padding: 56px 0;
  color: var(--title-text-color);
  text-decoration: none;
}
.link-social-footer:hover, .link-social-footer:focus {
  color: var(--accent-color-orange);
}
