.navigation {
}

.menu {
  @include max-mobile {
    display: flex;
    flex-direction: column;
    gap: 24px;
  }

  @include tablet {
  }

  @include desktop {
  }
}

.menu__item {
}

.menu__link {
  @include font(600, 18px, 1.39, 0.1em);
  color: $title-text-color;
  &:hover,
  &:focus {
    color: $color-orange
  }
  @include max-mobile {
  }
  @include tablet {
  }
  @include desktop {
  }
}
