.soc-list {
    position: relative;
    display: flex;
    align-items: center;
 @include max-mobile {
flex-direction: column;
gap: 24px;
 }

 &::before {
    width: 60px;
    height: 1px;
    background-color: $color-black;
    content: "";
 }
}

.soc-list__item {
    
    
   
}

.soc-list__link {
    @include font(600, 14px, 1.36, 0.2em);
    color: $color-black;   
     @include max-mobile {
    
    }
         &:hover,
         &:focus {
             color: $color-orange
         }


}
