.soc-list {
    position: relative;
    display: flex;
    align-items: center;
 @include max-mobile {
flex-direction: column;
gap: 24px;
&::before {
    position: absolute;
    top: 10px;
    left: 0;
        width: 60px;
        height: 1px;
        background-color: $color-black;
        content: "";
    }
 }

 &::before {
    width: 60px;
    height: 1px;
    background-color: $color-black;
    content: "";
 }
}

.soc-list__link {
    @include font(600, 14px, 1.36, 0.2em);
    color: $color-black;   
    transition: color 250ms linear;
         &:hover,
         &:focus {
             color: $color-orange;
         }


}
