.uptitle {
    display: flex;
    align-items: center;
    text-transform: uppercase;
    @include font(600, 7px, calc(10/7), 0.1em);
    @include mobile {
        @include font(600, 11px, calc(15/11), 0.1em);
    }

&::before {
content: "";
width: 60px;
height: 1px;
background-color: currentColor;
margin-right: 20px;
}
}
.uptitle--light {
color: $uptitle-light;
}

.uptitle--dark {
color: $color-black;
}