$primary-text-color: #555555;
$title-text-color: #303030;
$color-orange: #ff6c00;
$color-grey: #9da4bd;
$backgroud-color: #ffffff;
$uptitle-light: rgba(157, 164, 189, 0.6);
$color-black: #303030;
$color-white: #ffffff;
$gradient: linear-gradient(rgba(25, 28, 38, 0.2), rgba(25, 28, 38, 0.2));