:root {
    --primary-text-color: #555555;
    --title-text-color: #303030;
    --accent-color-orange: #ff6c00;
    --accent-color-white: #ffffff;
    --accent-color-grey: #9da4bd;
    --backgroud-color: #ffffff;
    --span-light: rgba(157, 164, 189, 0.6);
}