.barbers {
  background-color: #f7f7f7;
}

.barbers__container {
}

.barbers__uptitle {
  margin-bottom: 20px;
}

.barbers__title {
  margin-bottom: 44px;
}

.barbers__list {
  margin: 0 auto;
  @include desktop {
    display: flex;
    gap: 30px;
  }
}

.barbers__item {
    &:not(:last-child) {
      margin-bottom: 64px;
    }
& img {
  margin: 0 auto;
}
}

.barbers__info {
  margin-top: 30px;
}

.barbers__person-title {
  text-align: center;
  margin-bottom: 8px;
  @include font(400, 18px, calc(25 / 18), 0.02em);
  color: $color-black;
}

.barbers__type {
  text-align: center;
  margin-bottom: 30px;
  @include font(400, 14px, calc(19 / 14), 0.02em);
  color: $color-orange;
}

.social {
    display: flex;
gap: 10px;
align-items: center;
justify-content: center;

}

.social__link {
    display: block;
    display:flex;
    align-items: center;
    justify-content: center;
    width: 44px;
    height: 44px;
    border-radius: 50%;
    background-color: $color-white;
    color: $color-black;
    transition: color 250ms linear;
    &:hover, &:focus {
        color: $color-orange;
        
    }
}
.social__icon {
  fill: currentColor;
}