.benefits {
}

.benefits__container {
}

.benefits__uptitle {
    margin-bottom: 20px;
}

.benefits__title {
    margin-bottom: 20px;
    @include tablet {
        width: 449px;
    }
}

.benefits__text {
    margin-bottom: 44px;
    @include font(400, 14px, calc(26/14), 0.02em);
    @include mobile {
        @include font(400, 18px, calc(30/18), 0.02em);
    }
        @include tablet {
            width: 500px;
        }
}

.benefits__wrap {

}

.benefits-list {
       display: flex;
    flex-wrap: wrap; 
    @media screen and (max-width: 479px) {
    justify-content: center; 
    gap: 30px;   
    }
    
    
}

.benefits-list__item {
   text-align: center;
    background-color: #F7F7F7; 
    width: 193px;
    height: 133px;
    padding: 20px 35px;
   
@include mobile {
    &:nth-child(2) {
        margin-top: 35px;
        margin-left: 30px;
    }
&:nth-child(4) {
    margin-top: 35px;
        margin-left: 30px;
}
}
@include tablet {
    width: 210px;
}
}

.benefits-list__numbers {

    margin-bottom: 6px;
    @include font(700, 42px, calc(57/42), 0.05em);
        color: $color-black;
    
        @include mobile {
            @include font(700, 42px, calc(57/42), 0.05em);
        }
}

.benefits-list__plus {
   
@include font(600, 16px, calc(22/16), 0.02em);
    color: $color-orange;
}

.benefits-list__text {
@include font(600, 11px, calc(15/11), 0.02em);
color: $color-black; 
}