.gallery {}


.gallery__container {
    @include desktop {
        padding: 0;
    }
}

.gallery__uptitle {
    margin-bottom: 71px;
    @include tablet {
        margin-bottom: 44px;
    }
}


.gallery__list {
    @include tablet {
        display: flex;
        flex-wrap: wrap;
        gap: 30px;
        justify-content: center;
    }
    
}

.gallery__item {
    @include max-mobile {
     &:not(:last-child) {
        margin-bottom: 30px;
    }   
    }
@media screen and(max-width: 1199px) {
    flex-basis: calc((100% - 30px) / 2);
}
 
}