.gallery {}


.gallery__container {}

.gallery__uptitle {
    margin-bottom: 71px;
    @include tablet {
        margin-bottom: 44px;
    }
}


.gallery__list {
    @include tablet {
        display: flex;
        flex-wrap: wrap;
        gap: 30px;
    }
}

.gallery__item {
    @include max-mobile {
     &:not(:last-child) {
        margin-bottom: 30px;
    }   
    }
    
@include tablet {
    flex-basis: calc((100% - 30px) / 2);
}
}