.header {
   z-index: 3;
   position: absolute;
        width: 100%;
    @include max-mobile {
        padding: 40px 0;
        
    }

}

.header__container {
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    @include desktop {
        justify-content: flex-start;
    }
   
}

.header__logo {
    margin-left: 8px;
    margin-right: 60px;
    @include desktop {
        margin-right: 131px;
    }
}

.header__wrap {
    @include max-mobile {
        display: none;
    }
    
        @include tablet {
            display: block;
            display: flex;
                align-items: center;

        }
}
.header__navigation {
    display: flex;
        align-items: center;
        margin-right: 37px;
}

.menu__header {
display: flex;
    align-items: center;
    gap: 16px;
}


.header__contact-wrap {
  
    @include desktop {
        display: flex;
        align-items: center;
        gap: 40px;
    margin-left: 254px;

    }
}
.header__button {
    @media screen and (max-width: 1199px) {
     margin-top: 40px;
    margin-bottom: 20px;   
    }
     
}
.header__contact {
    @include font(600, 12px, calc(16/12), 0.1em);
    color: $color-white;
    transition: color 250ms linear;
    &:focus, &:hover {
        color: $color-orange;
    }
}
.menu-mobile {
    position: fixed;
        top: 0;
        right: 0;
        z-index: 1;
        width: 100vw;;
        height: 100vh;
        background-color: $backgroud-color;
        padding-top: 118px;
        padding-bottom: 118px;
        >.container {
            height: 100%;
        }
    
        @include tablet {
            display: none;
        }
 
}
.btn-menu {
    display: flex;
    align-items: center;
    width: 60px;
    height: 60px;
    margin-right: 15px;
background-color: transparent;
border: none;
 @include tablet {
    display: none;
 }
}
.btn-menu--open {
   }
.btn-menu--close {
 position: absolute;
    top: 48px;
    right: 10px;   
}
.btn-close-icon {
fill: currentColor;
}
.menu-mobile__navigation {
   margin-bottom: 64px;
}


.menu-mobile__contact {
    @include font(600, 18px, 1.39, 0.1em);
    text-transform: uppercase;
    color: $color-black;
    margin-bottom: 24px;
}
.menu-mobile__button {
min-width: 194px;
margin-bottom: 64px;

}
.soc-list__mobile-menu {
}