.header {
}

.header__container {
}

.header__logo {
}

.header__wrap {
    @include max-mobile {
        display: none;
    }
    
        @include tablet {
            display: block;
        }
}
.header__navigation {
}

.menu__header {

}

.header__contact {
}

.header__button {
}

.menu-mobile {
    @include max-mobile {}
    
        @include tablet {
            display: none;
        }
    

}

.menu-mobile__navigation {
}


.menu-mobile__contact {

}
.menu-mobile__button {

}
.soc-list__mobile-menu {
}