.hero {
   
}

.hero__container {
    padding: 0;
}

.soc {}

.hero__wrap {
    background-image: $gradient, url(../images/slider/slider-3-mob-1x-min.jpg);
        background-repeat: no-repeat;
        background-size:cover;
        @include retina {
    background-image: $gradient, url(../images/slider/slider-3-mob-2x-min.jpg);}
          @include max-mobile {
            position: relative;
            top: 0;
            left: 0;
            padding: 208px 31px;
         }
    @include mobile {

}
@include tablet {
   flex-grow: 1; 
        padding: 272px 100px 208px 100px;
}
@include desktop {
        padding: 272px 100px 208px 100px;
}
}

.hero__uptitle {
    margin-bottom: 20px;
}

.hero__title {
    @include font(700, 40px, calc(44/40), 0.05em);
color: $color-white;
margin-bottom: 20px;
@include mobile {
    @include font(700, 48px, calc(56/48), 0.05em);
}
}

.hero__text {
    @include font(400, 12px, calc(18/12), 0.02em);
    color: $color-grey;
    @include mobile {
        @include font(400, 16px, calc(26/16), 0.02em);
    }
}

.soc__hero {
    @include max-mobile {
        display: none;
    }
}