.online__name-tel-wrap {
    @include tablet {
        display: flex;
        gap: 30px;
    }
}
.online {
}

.online__title {
    text-align: center;
    color: $color-white;
    margin-bottom: 44px;
}



.online__form {}

.online__wrap {
    position: relative;
    margin-bottom: 44px;
    
    
}

.online__input {
    width: 100%;
    height: 24px;
    background-color: transparent;
    color: rgba(157, 164, 189, 0.4);
    border: none;
     border-bottom: 1px solid rgba(157, 164, 189, 0.4);
     transition: border 250ms linear;
     &:focus-within {
        outline: transparent;
        color: $color-white;
        border-bottom: 1px solid $color-white;
        }
        @include tablet {
            width: 300px;
        }
                 @include desktop {
                    width: 270px;
                 }
     }


.online__label {
    position: absolute;
        left: 0;
    @include font(600, 11px, calc(15/11), 0.1em);
    text-transform: uppercase;
    color: rgba(157, 164, 189, 0.4);

         transition: transform 200ms linear,
         color 200ms linear;
    .online__input:focus + &,
    .online__input:not(:placeholder-shown) + & {
        transform: translateY(-100%);
        color: $color-white;
    }
        
}
.online__label--message {
   .online__text:focus + &,
   .online__text:not(:placeholder-shown) + & {
    transform: translateY(-100%);
        color: $color-white;
   }
}

.online__textarea-wrap {
    position: relative;
    margin-bottom: 44px;
}

.online__text {
    width: 100%;
    height: 76px;
        resize: none;
        background-color: transparent;
        color: rgba(157, 164, 189, 0.4);
       
        border: none;
        border-bottom: 1px solid rgba(157, 164, 189, 0.4);
          
        
            &:focus-within {
                    outline: transparent; 
                    color: $color-white;
                      border-bottom: 1px solid $color-white;
                }
     
}

.online__button {
    @include max-mobile {
     margin: 0 auto;   
    }
    

}