.prices {
    background-color: #111319;
    background-image:url(../images/prices-mob-min.png) ;
        background-repeat: no-repeat;
        background-size: cover;
    
        @include retina {
            background-image: url(../images/prices-mob-2x-min.png);
        }
        @include tablet {
            background-image: url(../images/prices-tab-min.png);
            
                @include retina {
                    background-image: url(../images/prices-tab-2x-min.png);
                }
        }
                                @include desktop {
                                    background-image: url(../images/prices-desk-min.png);
                
                                    @include retina {
                                        background-image: url(../images/prices-desk-2x-min.png);
                                    }
                                }
    
    
}

.prices__container {
    padding: 0;
}

.prices__uptitle {
    margin-bottom: 20px;
}


.prices__title {
    color: $color-white;
    margin-bottom: 44px;
}

.prices__wrap {
    background: linear-gradient(180deg, #171A24 0%, rgba(23, 26, 36, 0.2) 100%);
    margin-bottom: 44px;
    padding: 30px 20px 30px 40px;
}

.table-list {
    display: flex;
    flex-direction: column;
    gap: 20px;
}
.table-list--first {
      margin-bottom: 20px;   
    
   
}
.table-list__item {
    display: flex;
justify-content: space-between;
align-items: baseline;
    gap: 4px;
&::before {
    content: "";
min-width: 8px;
    height: 1px;
    flex-grow: 1;
    background-color: rgba(157, 164, 189, 0.12);
}
}

.table-list__text {
    @include font(400, 10px, calc(16/10), 0.02em);
        color: $color-grey;
        &:first-child {
                order: -1;
            }
            @include mobile {
                @include font(400, 14px, calc(20/14), 0.02em);
            }
                         @include tablet{
                             @include font(400, 18px, calc(30/18), 0.02em);
                         }
}

.prices__button {
    margin: 0 auto;
}

