.prices {
    background-color: #111319;
    background-image:url(../images/prices-mob-min.png) ;
        background-repeat: no-repeat;
        background-size: cover;
    
        @include retina {
            background-image: url(../images/prices-mob-2x-min.png);
        }
        @include tablet {
            background-image: url(../images/prices-tab-min.png);
            
                @include retina {
                    background-image: url(../images/prices-tab-2x-min.png);
                }
        }
                                @include desktop {
                                    background-position: center;
                                    
                                    background-image: url(../images/prices-desk-min.png);
                
                                    @include retina {
                                        background-image: url(../images/prices-desk-2x-min.png);
                                    }
                                }
    
    
}

.prices__container {
   
    @include desktop {
        padding: 0 31px;
    }
}

.prices__uptitle {
    margin-bottom: 20px;
}


.prices__title {
    color: $color-white;
    margin-bottom: 44px;
}

.prices__wrap {
     margin-bottom: 44px;
     @media screen and (max-width: 1199px) {
        background: linear-gradient(180deg, #171A24 0%, rgba(23, 26, 36, 0.2) 100%);
   
    padding: 30px 20px 30px 40px;
    }
    @include desktop {
        display: flex;
        justify-content: space-between;
        gap: 30px;
    }
}

.table-list {
    display: flex;
    flex-direction: column;
    gap: 20px;
    @include desktop {
        padding: 30px 20px;
        width: 570px;
    }
}
.table-list--first {
       
      @media screen and (max-width: 1199px)  {
        margin-bottom: 20px; 
      }
    @include desktop {
        background: linear-gradient(180deg, #171A24 0%, rgba(23, 26, 36, 0.2) 100%);
    }
   
}
.table-list--second {
    @include desktop {
        background: linear-gradient(180deg, #090B13 0%, rgba(9, 11, 19, 0.2) 100%);
    }
}
.table-list__item {
    display: flex;
justify-content: space-between;
align-items: baseline;
    gap: 10px;
&::before {
    content: "";
min-width: 8px;
    height: 1px;
    flex-grow: 1;
    background-color: rgba(157, 164, 189, 0.429);
}
}

.table-list__text {
    @include font(400, 10px, calc(16/10), 0.02em);
        color: $color-grey;
        &:first-child {
                order: -1;
            }
            @include mobile {
                @include font(400, 14px, calc(20/14), 0.02em);
            }
                         @include tablet{
                             @include font(400, 18px, calc(30/18), 0.02em);
                         }
}

.prices__button {
    margin: 0 auto;
}

